<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Criminal Defense Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Partial("_LoginPartial")

                @Html.ActionLink("Criminal Defense Tracking", "Index", "Home", new { area = "" }, new { @class = "navbar-name" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Defendants", "Index", "Defendant")</li>
                    <li>@Html.ActionLink("Officers", "Index", "Officer")</li>
                    <li>@Html.ActionLink("State Attorneys", "Index", "StateAttorney")</li>
                    <li>@Html.ActionLink("Defense Attorneys", "Index", "DefenseAttorney")</li>
                    <li>@Html.ActionLink("Arrest", "Index", "Arrest")</li>
                    <li>@Html.ActionLink("Court Hearings", "Index", "Courthearing")</li>
                    <li>@Html.ActionLink("Convictions", "Index", "Conviction")</li>
                    <li>@Html.ActionLink("About Us","About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-element">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Criminal Defense Tracking</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .navbar {
        background-color: #5A5560;
        background-image: url('../../IMAGES/EeGZkc.jpg')

    }

    .navbar-name{
        color: #FAED26;
        font-size: 25px;
        font-family: 'Agency FB' ;
        margin-top: 20px;
    }

    .body-element {
        color: #FAED26;
        font-family: 'Agency FB';
        background-color: #46344E;
        width: 1200px;
        background-image: url('../../IMAGES/b9cbabb1a1ce1b2366a6af878fff10f8.jpg')
    }

    body {
        background-color: black;
    }
</style>
