@model DefendantTracker.Models.StateAttorneyModels.StateAttorneyDetails

@{
    ViewBag.Title = "Delete";
}
<div>
    <h4>Are you sure you want to remove this Attorney?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateAttorneyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateAttorneyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("See All State Attorney", "Index")
        </div>
    }
</div>
<style>
    h4 {
        margin-top: 70px;
        font-size: 30px;
        text-align: center;
    }

    .dl-horizontal {
        margin: 0 auto;
        font-size: 15px;
        width: 550px;
    }
</style>