@model DefendantTracker.Models.StateAttorneyModels.StateAttorneyDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StateAttorneyDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateAttorneyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateAttorneyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StateAttorneyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
