@model IEnumerable<DefendantTracker.Models.CourtHearingModels.CourtHearingListItem>

@{
    ViewBag.Title = "Index";
}
<p>
    <h3>Court Hearings</h3>
    <h4>Here is all of our Court Hearings.</h4>
    @Html.ActionLink("Add New Court Hearing", "Create")
</p>
<table class="table-responsive table pull-left">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourtHearingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HearingDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourtDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrestID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CourtHearingID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HearingDesc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourtDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FullLocation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SAFullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DAFullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OFullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DFullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ArrestID)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CourtHearingID })
        @Html.ActionLink("Details", "Details", new { id = item.CourtHearingID })
        @Html.ActionLink("Delete", "Delete", new { id = item.CourtHearingID })
    </td>
</tr>
    }

</table>
<style>
    table {
        text-align: left;
        font-size: 18px;
    }

    h3 {
        margin-top: 70px;
        font-size: 40px;
    }
</style>