@model DefendantTracker.Models.USERS.UserDetails

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>User Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { userid = Model.UserId }) |
    @Html.ActionLink("See All Users", "Index")
</p>
<style>
    h4 {
        margin-top: 70px;
        font-size: 30px;
        text-align: center;
    }

    .dl-horizontal {
        margin: 0 auto;
        font-size: 15px;
        width: 550px;
    }
</style>